header {
  top: 0px;
  background-color: lightblue;
  height: 400px;
  width: 1000px;
//  text-align: center;
}

 header ul {
  display: inline;
 }


header ul li {
  list-style: none;
  border: 0px;
}

header ul li .article-slug {
  display: none;
}

header .video-slug {
  display: none;
}


header .article-image img{
  height: 100px;
  width: 100px;
}

header #featured-articles {
  left: 650px;
  width: 350px;
  top: 0px;
  float: right;
}

header #featured-video {
  width: 650px;
  top: 0px;
  float: left;
}

header #featured-article {
  padding-left: 0px;
  border-bottom: 1px solid black;
  margin: 0px;
}

header #featured-article li {
  top: 0px;
  display: inline;
}

body {
  width: 1000px;
}


// MENU

#menu {
  clear: both;
}